@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import "tailwindcss";

@theme {
  --color-crt-bg: #0a1520;
  --color-crt-surface: #0d1f2d;
  --color-crt-border: #1a4a4a;
  --color-crt-primary: #00e5cc;
  --color-crt-amber: #f5a623;
  --color-crt-dim: #2a6a6a;
  --font-mono: 'Share Tech Mono', 'Courier New', monospace;
}


body {
  background-color: var(--color-crt-bg);
  font-family: var(--font-mono);
  color: var(--color-crt-primary);
}

/* scanlines por cima de tudo */
body::after {
  content: '';
  position: fixed;
  inset: 0;
  background: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 2px,
    rgba(0, 0, 0, 0.15) 2px,
    rgba(0, 0, 0, 0.15) 4px
  );
  pointer-events: none;
  z-index: 9999;
}

/* vignette nas bordas */
body::before {
  content: '';
  position: fixed;
  inset: 0;
  background: radial-gradient(
    ellipse at center,
    transparent 60%,
    rgba(0, 0, 0, 0.7) 100%
  );
  pointer-events: none;
  z-index: 9998;
}